[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
clustergram = "*"
bokeh = "*"
numba = "*"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
geopandas = "*"
rasterio = "*"
ipyleaflet = "*"
branca = "*"
contextily = "*"
mapclassify = "*"
eralchemy = "*"
jupyterlab = "*"
ipython-sql = "*"
shapely = "*"
fiona = "*"
pyproj = "*"
descartes = "*"
sqlalchemy = "<1.4"
geoalchemy = "*"
rtree = "*"
pickleshare = "*"
nbconvert = "*"
momepy = "*"
folium = "*"
osmnx = "*"
pyrosm = "*"
clustergram = "*"
geopy = "*"

[requires]
python_version = "3.10.15"
